.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #0c9337;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
