footer {
    background-color: #232418;
    width: 100%;
    margin: 0 auto;
    padding: 1% 0;
    flex-shrink: 0;
    font-size: .85em;
}

.footer-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 2% 0;
}
