html, body {
    height: 100%;
}

body {
    margin: 0;
    text-align: justify;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		 "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		 sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #272822;
    color: white;
}

p {
    padding: 3%;
    font-size: 1.3em;
    max-width: 80ch;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

a:hover {
    text-shadow: 0 0 0.1px white;
}

a:link {
    color: #e6db74;
}

a:visited {
    color: #fd971f;
}
